

ul.ant-menu-inline-collapsed {
    border-right: 1px solid rgb(232, 232, 232);
}

ul.ant-menu-inline {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    border-right: 1px solid rgb(232, 232, 232) !important;
}