absl-py==0.2.2
astor==0.6.2
bleach==1.5.0
click==6.7
cmake==3.11.0
dlib==19.13.1
face-recognition==1.2.2
face-recognition-models==0.3.0
gast==0.2.0
grpcio==1.12.1
h5py==2.7.1
html5lib==0.9999999
Keras==2.1.4
Markdown==2.6.11
numpy==1.14.1
Pillow==5.1.0
polyglot==16.7.4
protobuf==3.6.0
PyYAML==3.12
scipy==1.1.0
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-hub==0.1.0
tensorflowjs==0.4.2
termcolor==1.1.0
Werkzeug==0.14.1
