.Classroom .NoClass {
  background-color: #fefefe;
  border: 0.1px rgb(250, 250, 250) solid;
  padding: 15px 0 60px 0;

  -webkit-box-shadow: -0.5px 0.5px 3px 2px rgba(245, 245, 245, 1);
  -moz-box-shadow: -0.5px 0.5px 3px 2px rgba(245, 245, 245, 1);
  box-shadow: -0.5px 0.5px 3px 2px rgba(245, 245, 245, 1);

  #heading {
    font-size: 30px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
  }

  img {
    margin-top: 50px;
    width: 125px;
    opacity: 0.9;
  }
}

.Classroom .ListOfClasses {
  display: grid;
  padding: 13.5px;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 0.8rem;
  justify-content: space-between;
  align-content: flex-start;

  .ClassCard {
    margin: 0.5em;
    -webkit-box-shadow: -1px -1px 15px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px -1px 15px -10px rgba(0, 0, 0, 1);
    box-shadow: -1px -1px 15px -10px rgba(0, 0, 0, 1);

    .ant-card-meta-detail * {
      word-wrap: break-word;
      white-space: normal;
    }

    .ant-card {
      min-width: 300px;
    }
  }

  .AddClassCard {
    width: 300px;
    height: 322.84px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

.ClassForm {
  .ant-modal-body {
    min-height: 410px;
    padding: 20px;
  }

  .ant-modal-footer {
    max-height: 53px;
  }

  .ant-steps {
    margin-bottom: 20px;
  }
}
